h1{
    font-family:'Comic Sans MS';
    font-size: 25px;
    font-style: italic;    
}

h3{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: lighter;
}

p{
    font-family:'Courier New', Courier, monospace;
    font-size: 15px;
    font-weight:bold;
}